@import "tailwindcss";

:root {
  --color-primary: #004539;
  --color-button-bg:#0045391a;
  --color-bg: #ffffff;
  --color-muted-text: #14181fcc;
  --color-video-bg:#0000000f;
  --color-secondary:#f8f6f2;
}

@keyframes floatCard {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-8px, -12px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


body {

  font-family: var(--font-plus-jakarta), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* @variant dark (&:where(.dark, .dark *)); */


@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.15;
  }
  100% {
    transform: translateY(-400px);
    opacity: 0;
  }
}


.float-el {
  position: absolute;
  bottom: -200px;
  left: var(--l);
  width: 120px;
  opacity: 0;
  animation: floatUp var(--s) linear infinite;
  animation-delay: var(--d);
  filter: blur(1px);
  pointer-events: none;
}
